  <h2>Welcome to Expertise!</h2>
  <p>This web application is still a work in progress. Please email me any issues you encounter via email
    (found at the bottom of every page).</p>
  <p>The idea behind Expertise is that it takes 10,000 hours of doing any task to become a master - whether
    it be a foreign language, calculus, or the computer game minesweeper. Using Expertise, you will be able to
    keep track of what you put your hours toward. Keep on top of your tasks!</p>
  <p>Check out the links at the top right to create an account or login using your Facebook account (unless
    you are in a timezone other than US Eastern Time). Since the application is still unfinished, assume
    that all data could be lost and may not be perfectly private. These issues will be confronted.</p>