<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
<%
    ###!!! THE USE OF RAW CREATES AN XSS VULNERABILITY !!!###
    # to protect from XSS attacks rails escapes quotes and like characters, e.g. &quot;
    # the function raw allows for whatever is entered to be introduced to the source
%>
    var data = new google.visualization.DataTable();
    var start_date = new Date();
    var end_date = new Date(Date.now());
    start_date.setDate(end_date.getDate()-7);
    
    data.addColumn('date', 'Date');
    
    <% @tasks.reverse.each do |task| %>
      data.addColumn('number', '<%= task.name %>')
    <% end %>
    
    data.addRows(<%= @tasks_by_day[1..-1].reverse.to_s.gsub('"','') %>)
    
    var options = {
      title: 'Tasks over the Past Week',
      isStacked: true,
      vAxis: {title: 'Hours'},
      hAxis: {title: 'Day'}
    };
    
    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div" style="width: 400px; height: 300px;"></div>